.remove:hover{background:aquamarine;}
#output{overflow: auto; height: 300px}
.msg:nth-child(odd){
    margin-right: auto;
    padding: 10px;
    border: 1px solid gray;
    width: 200px;
    margin-top: 10px;
    border-radius: 5px;
    background: #fff;}
.msg:nth-child(even){
    margin-left: auto;
    width: 200px;
    margin-top: 10px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 6px;
    background: pink}